/*Authored by Suyesh Bhandari as NYCDA assignment*/

* {
    box-sizing: border-box;
}

header {
    margin-left: 10px;
}

.About {
    margin: 10px;
    padding: 5px;
}

.images img {
  border: 2px solid grey;
}



@media only screen and (max-width: 799px) {
    #sidebar-toggle {
        width: 40px;
        height: 40px;
        background-color: #222323;
        position: absolute;
        margin-top: 10px;
        left: 5%;
        z-index: 2;
        cursor: pointer;
    }
    .box-container {
        margin-left: 2px;
    }
    .box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10, .box11, .box12, .box13, .box14, .box15, .box16, .box17 {
        width: 5px;
        height: 5px;
        background-color: #afafaf;
        margin: 2px;
        transition: 0.4s;
        float: left;
    }
    .mobile-profile-box {
        width: 100%;
        height: 230px;
        background-color: #2f3030;
    }
    .profile-box {
        display: none;
    }
    .mobile-profile-image>img {
        width: 135px;
        height: 135px;
        border-radius: 50%;
        background-color: #2f3030;
        position: absolute;
        top: 3%;
        left: 33%;
        padding: 5px;
        border: 2px solid #e0e0e0;
    }
    .mobile-name {
        color: white;
        font-family: 'Pacifico', cursive;
        position: absolute;
        top: 21%;
        left: 35%;
        margin: 5px;
    }
    .main {
        width: 100%;
        height: 800px;
        background-color: #f4f4f4;
        margin-top: 2px;
        float: left;
        padding: 5px;
    }
    .side-nav-big{
      display: none;
    }

    .images img {
      float: left;
      max-width: 100px;
      margin: 10px;
    }
}

@media only screen and (min-width: 499px) and (max-width: 799px) {
    .mobile-profile-image>img {
        left: 40%;
    }
    .mobile-name {
        left: 40%;
    }
    .main {
        width: 100%;
        height: 800px;
        background-color: #f4f4f4;
        margin-top: 2px;
        float: left;
        padding: 5px;
    }

    .side-nav-big{
      display: none;
    }


}

@media only screen and (min-width: 800px) and (max-width: 900px) {
    .sidebar {
        width: 20%;
        height: 800px;
        background-color: #202121;
        float: left;
    }
    .main {
        width: 80%;
        height: 800px;
        background-color: #f4f4f4;
        /*#f7f8f9*/
        float: left;
        padding: 5px;
    }
    .profile-box {
        width: 100%;
        height: 200px;
        background-color: #3a3837;
        position: relative;
    }
    .profile-image>img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: grey;
        position: absolute;
        top: 10%;
        left: 25%;
        bottom: 20%;
        padding: 5px;
        border: 2px solid #e0e0e0;
    }

    .sidebar {
      text-align: center;
    }

    .side-nav-big{
      color: white;
      font-family: 'Pacifico', cursive;
      margin-top: 20px;

    }

    .side-nav-big .nav{
      margin: 10px;
      padding: 10px;
    }

    .side-nav-big .nav:hover {
      background-color:#3a3837;
    }

    .side-nav-big a {
      color: white;
    }

    .images img {
      float: left;
      max-width: 200px;
      margin: 10px;
    }
}

@media all and (min-width: 900px) {
    .mobile-profile-box, .mobile-profile-image, .mobile-name {
        display: none;
    }
    .sidebar {
        width: 250px;
        height: 800px;
        background-color: #202121;
        float: left;
    }
    .main {
        width: 80%;
        height: 800px;
        background-color: #f4f4f4;
        /*#f7f8f9*/
        float: left;
        padding: 5px;
    }
    .profile-image>img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: #2f3030;
        position: absolute;
        top: 10%;
        left: 20%;
        bottom: 20%;
        padding: 5px;
        border: 2px solid #e0e0e0;
    }

    .sidebar {
      text-align: center;
    }

    .side-nav-big{
      color: white;
      font-family: 'Pacifico', cursive;
      margin-top: 20px;

    }

    .side-nav-big .nav{
      margin: 10px;
      padding: 10px;
    }

    .side-nav-big .nav:hover {
      background-color:#3a3837;
    }

    .side-nav-big a {
      color: white;
    }

    .images img {
      float: left;
      max-width: 200px;
      margin: 10px;
    }
}

@media only screen and (min-width: 800px) {
    .mobile-profile-box, .mobile-profile-image, .mobile-name {
        display: none;
    }
    .sidebar {
        width: 30%;
        height: 800px;
        background-color: #2d2c2b;
        float: left;
    }
    .main {
        width: 70%;
        height: 800px;
        background-color: #f4f4f4;
        /*#f7f8f9*/
        float: left;
        padding: 5px;
    }
    .profile-box {
        width: 100%;
        height: 200px;
        background-color: #3a3837;
        position: relative;
    }
    .profile-image>img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: #2f3030;
        position: absolute;
        top: 10%;
        left: 20%;
        bottom: 20%;
        padding: 5px;
        border: 2px solid #e0e0e0;
    }
    .name {
        color: white;
        font-family: 'Pacifico', cursive;
        position: absolute;
        top: 83%;
        left: 25%;
        margin: 5px;
    }

    .sidebar {
      text-align: center;
    }

    .side-nav-big{
      color: white;
      font-family: 'Pacifico', cursive;
      margin-top: 20px;

    }

    .side-nav-big .nav{
      margin: 10px;
      padding: 10px;
    }

    .side-nav-big .nav:hover {
      background-color:#3a3837;
    }

    .side-nav-big a {
      color: white;
    }

    .images img {
      float: left;
      max-width: 200px;
      margin: 10px;
    }
}

@media only screen and (min-width: 1184px) {
    .sidebar {
        width: 20%;
        height: 800px;
        background-color: #2d2c2b;
        float: left;
    }
    .main {
        width: 80%;
        height: 800px;
        background-color: #f4f4f4;
        /*#f7f8f9*/
        float: left;
        padding: 5px;
    }
    .profile-box {
        width: 100%;
        height: 200px;
        background-color: #3a3837;
        position: relative;
    }
    .profile-image>img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: #2f3030;
        position: absolute;
        top: 10%;
        left: 25%;
        bottom: 20%;
        padding: 5px;
        border: 2px solid #e0e0e0;
    }
    .name {
        color: white;
        font-family: 'Pacifico', cursive;
        position: absolute;
        top: 83%;
        left: 30%;
        margin: 5px;
    }

    .sidebar {
      text-align: center;
    }

    .side-nav-big{
      color: white;
      font-family: 'Pacifico', cursive;
      margin-top: 20px;

    }

    .side-nav-big .nav{
      margin: 10px;
      padding: 10px;
    }

    .side-nav-big .nav:hover {
      background-color:#3a3837;
    }

    .side-nav-big a {
      color: white;
    }

    .images img {
      float: left;
      max-width: 200px;
      margin: 10px;
    }

}
